html, body {
	font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100%;
    padding: 0px;
}

#map {
    height: 100%;
}

#pano {
    width: 200px;
    height: 200px;
      }

.row {
    height: 100%;
}

.text {
    font-size: 12px;
      }
